* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.desc {
  display: none;
  padding: 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}

.accContainer.active .desc {
  display: block;
  transition: 2s ease-in;
}
